body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.norway, .sweden{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.norway img, .sweden img{
    width: 300px;
}

.norway a{
    text-align: center;
    color: red;
    font-size: 33px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sweden a{
    text-align: center;
    color: blue;
    font-size: 33px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}